@charset 'utf-8';
@import "bourbon/bourbon";
@import "susy/susy";
@import "compass/css3";
@import "breakpoint/breakpoint";
@import "module/header/header.scss";
@import "module/body/body.scss";
@import "module/breakpoint/breakpoint.scss";
$query:"only screen";
$susy:(
		columns:12,
		gutters:1/4,
		gutter-position:inside,
		math:fluid,
		output:float,
	);

header{

}
.container{
	@include container(90%);
	text-align: center;
	background-color: #333;


	@include breakpoint($query 370px){
		@include container(80%);

	}
}
.card{
	text-align: center;



	@include breakpoint($query 370px){
		@include span(6);
	}
	@include breakpoint($query 1280px){
		@include span(3);
	}

}
